p {
            font-size: x-large;
            font-style: oblique;
            background-color: yellow;
        }
        .responseDiv {
        font-size: xx-large;
        color: red;
        }
body{
        margin: 0;
        padding: 0;
        }
        .left{
        height: 100%;
        width: 25%;
        float: left;
        background-Color: green;
        justify-content: center;
        align-items: center;
        }
        .middle{
        height: 100%;
        width: 50%;
        float: center;
background-Color: blue;
justify-content: center;
        align-items: center;
        }
        .right{
        height: 100%;
      width: 25%;
        float: right;
        background-Color: yellow;
        justify-content: center;
        align-items: center;
        }
        .container{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        width:100%;
        height: 10vh;
        background-Color: red;
        }