<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    lang="eu">
<head>
    <title>Hello World!</title>
    <style>
        p {
            font-size: x-large;
            font-style: oblique;
            background-color: yellow;
        }
        .responseDiv {
        font-size: xx-large;
        color: red;
        }
    </style>
</head>
<body>
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <div class="responseDiv">
    <span th:text="${response}"></span>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <hr>
    <br><a href="/about">About us</a>
    <br>
    <p>[A] - for admin</p>
    <ul>
        <li>
        <ul><p>client controller</p>
        <li><a href="/changeName">editName</a></li>
        <li><a href="/changePassword">editPassword</a></li>
        <li><a href="/changeAdminPermission">[A] editAdmin (give or revoke admin permission)</a></li>
            <li><a href="/client/all">[A] all</a></li>
        <li><a href="/byClientIdForm">[A] byClientID</a></li>
        <li><a href="/client/checkingBalance">checkingBalance</a></li>
        <li><a href="/client/depositsBalance">depositBalance</a></li>
            <li><a href="/client/loansBalance">loansBalance</a></li>
        </ul>
        </li>
        <li>
        <ul><p>commission controller</p>
            <li>[A] setForLoanCommission</li>
            <li>[A] setForDeposit</li>
            <li>[A]setForLoanInterest</li>
        </ul>
        </li>
        <li>
            <ul><p>deposit controller</p>
                <li>addNewDeposit</li>
                <li>withdrawDeposit</li>
            </ul>
        </li>
        <li>
            <ul><p>loan controller</p>
                <li>add</li>
                <li>[A] all</li>
                <li>[A] byLoanId</li>
            </ul>
        </li>
        <li>
            <ul><p>transaction controller</p>
                <li>add</li>
                <li>outgoingTransactions</li>
                <li>incomingTransactions</li>
                <li>[A] getAll</li>
                <li>[A] byAccountNumber</li>
            </ul>
        </li>
    </ul>
</body>
</html>