<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of all clients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>List of all clients</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Have admin permissions</th>
            <th>ID of checking account</th>
            <th>Account Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${listOfClients}">
            <td th:text="${client.getClientID()}"></td>
            <td th:text="${client.getClientName()}"></td>
            <td th:text="${client.isAdmin() != null && client.isAdmin() ? 'Yes' : 'No'}"></td>
            <td th:text="${client.getCheckingAccount().getAccountID()}"></td>
            <td th:text="${client.getCheckingAccount().getAccountNumber()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>