<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change your password</title>
    <style>
        .error-icon {
            display: none;
            color: red;
            font-weight: bold;
            margin-left: 10px;
        }
        .error-input {
            border: 2px solid red;
        }
    </style>
</head>
<body>
<h1>Edit your password</h1>
<form action="#" th:action="@{/client/editPassword}" method="post" onsubmit="return validatePassword()">
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" name="oldPassword" required>
    <br><br>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <span id="newPasswordError" class="error-icon">!</span>
    <br><br>
    <label for="reNewPassword">Repeat New Password:</label>
    <input type="password" id="reNewPassword" name="reNewPassword" required>
    <span id="reNewPasswordError" class="error-icon">!</span>
    <br><br>
    <button type="submit">Change password</button>
</form>
<script type="text/javascript">
    function validatePassword() {
        var newPassword = document.getElementById("newPassword").value;
        var reNewPassword = document.getElementById("reNewPassword").value;
        var newPasswordError = document.getElementById("newPasswordError");
        var reNewPasswordError = document.getElementById("reNewPasswordError");
        var newPasswordField = document.getElementById("newPassword");
        var reNewPasswordField = document.getElementById("reNewPassword");

        if (newPassword !== reNewPassword) {
            newPasswordError.style.display = "inline";
            reNewPasswordError.style.display = "inline";
            newPasswordField.classList.add("error-input");
            reNewPasswordField.classList.add("error-input");
            alert("New Passwords do not match!");
            return false; // Prevent form submission
        } else {
            newPasswordError.style.display = "none";
            reNewPasswordError.style.display = "none";
            newPasswordField.classList.remove("error-input");
            reNewPasswordField.classList.remove("error-input");
        }
        return true; // Allow form submission
    }
</script>
</body>
</html>
