<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin edit</title>
</head>
<body>
<h1>Give or revoke admin permission</h1>
<form action="#" th:action="@{/client/editAdmin}" method="post">
    <label for="clientId">ID of client:</label>
    <input type="number" id="clientId" name="clientId" required>
    <br><br>
    <label for="isAdmin">Should be admin:</label>
    <select id="isAdmin" name="isAdmin" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br><br>
    <button type="submit">Save</button>
</form>
</body>
</html>