<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
        padding: 10px;
        margin: 10px;
        }
    </style>
</head>
<body>
<h1>App made by:</h1>
        <th>Artur Joniak</th><br>
        <th>Michał Kasiński</th><br>
        <th>Piotr Kozik</th><br>
        <th>Tomasz Kraj</th><br>
        <th>Aleksander Dobija</th><br><br><br><hr>
<p>
<h2>Projekt grupowy</h2><br>
    Celem projektu, jest stworzenie prostej aplikacji bankowej, demonstrując przy tym dobre zasady tworzenia oprogramowania przedstawione w trakcie trwania kursu.
    <br><br>
    <ul>
    Wymagania
    <li>Aplikacja powinna dostarczać następujące funkcjonalności:</li>
    <li>Możliwość rejestracji klienta wraz z tworzeniem unikalnego numeru rachunku,</li>
    <li>Możliwość "logowania" do swojego konta przy użyciu nazwy użytkownika i hasła,</li>
    <li>Możliwość odróżnienia roli administratora systemu od klienta,</li>
    <li>Możliwość wykonywania przelewów między rachunkami,</li>
    <li>Możliwość korzystania z lokat i kredytów o oprocentowaniu określanym przez administratora systemu,</li>
    <li>Możliwość odtworzenia historii własnych operacji przez każdego z klientów,</li>
    <li>Możliwość odtworzenia historii wszystkich operacji przez administratora.</li>
    </ul><br>
<hr>
    Szczegóły implementacyjne
    Backend aplikacji powinien zostać zaimplementowany przy użyciu frameworka Spring.
    Aplikacja powinna korzystać z udostępnionej bazy danych (pojemność max: 1GB). Dostęp zostanie przekazany przedstawicielowi grupy.
    Kod powinien być pokryty testami jednostkowymi w przynajmniej 60% (line-coverage).<br>
<hr>
    Inne<br>
    W ramach zadania, istnieje pelna dowolnosc pod kątem projektu bazy danych, układu tabel
    i relacji. Nie ma odgórnego ograniczenia pod kątem formatu numeru konta, poziomu skomplikowania hasła, czy interfejsu. Wszelkie wątpliwości/pytania powinny być poruszane
    w module “strumień” na platformie Google Classroom.<br>
<a href="https://github.com/dmt-kasinski/banking-app">Github repository</a>
</p>
</body>
</html>