<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Banking app</title>
</head>
<body>
<header th:fragment="header">
<div class="container">
    <div class="left"><a href="/hello"><img src="/logo.png" style="width: 100px; height: 100px;"></a></div>
    <div class="middle"><h1>Akademia DMT 3.0 - Banking app</h1><h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1></div>
    <div class="right">
                <div th:ref="navbar-item" sec:authorize="!isAuthenticated()">
                    <p>Click <a th:href="@{/signup}">here</a> to sign up.</p>

                    <p>Click <a th:href="@{/login}">here</a> to sign in.</p>
                </div>
        <div th:ref="navbar-item" sec:authorize="isAuthenticated()" id="logoutForm">
                <form th:action="@{/logout}" method="post">
            <input type="submit" value="logout"/>
        </form>
            </div>
        <br><a href="/about">About us</a>
        </div>

    </div>
</div>
    <hr>
</header>
</body>
</html>