<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Commission</title>
</head>
<body>
    <h1>Set LOAN commission:</h1>
    <form action="#" th:action="@{/commission/setForLoanCommission}" method="post">
        <label for="loanCommission">Loan Commission:</label>
        <input type="number" step="0.1" id="commissionRateAsPercent" min="0" name="commissionRateAsPercent" required>
        <br><br>
        <button type="submit">Set</button>
        <br><br>
        <h2>Current LOAN commission:</h2>
        <p>The current LOAN commission is: <span th:text="${oldRate}"></span></p>
    </form>
</body>
</html>